@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

*{
    font-family: 'Comfortaa', cursive ;
    font-weight: bold;
    color: white;
}

html, body{
    height: 100% ;
    margin: 0px;
    background: url("../ressources/img/fond.jpg");
    background-size: 100% ;
    background-position: center;
}

body{
    margin: auto;
    display: flex;
    flex-direction: column;
    color: black ;
}

header .nav-content{
    width: 100%;
    display: flex;
    text-decoration: none;
    align-items: center;
    background: black;
}

header .headerdroite2{
    padding-left: 75%;
    padding-right: 5%;
}

.navbar-brand{
    text-decoration: none;
}

#recherche{
    color: black ;
}

#content{
    flex: 1 ;
    background: url("../ressources/img/fond.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;
}

.title{
    height: 100px ;
    display: flex;
    align-items: center;

    font-size: 2em;
}

#name{
    float: top;
    margin-top: 5%;
    height: 15%;
}

#titre_ajout{
    display: flex;
    float: left;
    margin-top: 5%;
    margin-left: 43% ;
    margin-right: 43% ;
    border: 2px solid lightskyblue;
    border-radius: 5px;
    background: cornflowerblue;
    padding : 1em;
    text-align: center;
    color: black ;
}

#infos{
    display: flex;
    float: left;
    margin-left: 25% ;
    margin-right: 25% ;
    border: 2px solid lightskyblue;
    border-radius: 5px;
    background: cornflowerblue;
    padding : 1em;
    color: black ;
}

#boutons{
    width: 10%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 15%;
    overflow: auto;
}

.bouton_final{
    flex-direction: column;
    align-content: center;
    color: black ;
}

#liste-ingredients{
    float: left;
    margin-left: 40% ;
    flex-direction: column;
    align-content: center;
    border: 2px solid lightskyblue;
    border-radius: 5px;
    background: cornflowerblue;
    padding : 1em;
    color: black ;
}

.menu_ingredient{
    color: black;
}

.menu_ingredient option{
    color: black;
}

.form-control{
    color: black;
}

.moins{
    color: black;
}

.plus{
    color: black;
}

.envoyer{
    float: left;
    margin-left: 40% ;
    flex-direction: column;
    align-content: center;
    border: 2px solid lightskyblue;
    border-radius: 5px;
    background: cornflowerblue;
    padding : 1em;
    color: black;
}

#choix-origine{
    float: left;
    margin-left: 40% ;
    flex-direction: column;
    align-content: center;
    border: 2px solid lightskyblue;
    border-radius: 5px;
    background: cornflowerblue;
    padding : 1em;
    color: black ;
}

.origine{
    color: black;
}

.origine option{
    color: black;
}

.error{
    background: lightpink;
}

footer{
    height: 5%;
    position:absolute;
    bottom:0;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    overflow: hidden;
    color: white;
}



