.choix-origine{
    width: 30%;
}

#select-origine{
    width: 100%;
    padding: 5px 0 5px 0;
}

.nom{
    float: left;
    order: 1 ;
    color: white;
}

h1{
    font-size: 1em;
}

.nom-image{
    width: 40%;
}

