@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

*{
    font-family: 'Comfortaa', cursive ;
    font-weight: bold;
    color: white;
}

html, body{
    height: 100% ;
    margin: 0px;
    background: url("../ressources/img/fond2.jpg");
    background-size: 100% ;
    background-position: center;
}

body{
    margin: auto;
    display: flex;
    flex-direction: column;
}

header .nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
}

header .recette{
    margin-left: 30px;
}

header .gauche{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header .droite{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
}

header .login{
    margin-top: 10px;
}

.navbar-brand{
    text-decoration: none;
}

.recherche{
    color: black ;
}

#content{
    flex: 1 ;
    background: #FF7575;
    background-size: cover;
    background-position: center;
    border: 2px solid #A00000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    overflow: hidden;
}

footer{
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-title{
    color: white;
    font-size: 3em;
    letter-spacing: 0.3em;
}

#mark, #log-button{
    width: 80px;
    margin: 0 10px;
}

#main-content{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#login-form, #error{
    width: 300px;
}

#login-form{
    padding: 10px;
    margin-left: 40%;
    margin-right: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#login-form *{
    width: 100%;
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#error{
    margin: 5px 0;
    background: black;
    padding: 0 10px ;
    font-size: 2em;
    color: orangered;
    text-align: center;
}

#message{
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

.error{
    background: lightpink;
}

.hidden{
    display: none;
}

.form-control{
    color: black;
}

.envoyer{
    display: flex ;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: black;
}

.page-admin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 5% 25%;
}

.admin{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    background: #FF7575;
    background-size: cover;
    background-position: center;
    border: 2px solid #A00000;
    padding: 1em;
}

.admin a{
    text-decoration: none;
}

.logout{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 5% auto;
}

.logout input{
    background-color: #A00000;
    color: white;
}

footer{
    height: 5%;
    position:absolute;
    bottom:0;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    overflow: hidden;
}