@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

*{
    font-family: 'Comfortaa', cursive ;
    font-weight: bold;
    color: white;
}

html, body{
    height: 100% ;
    margin: 0px;
    background: url("../ressources/img/fond.jpg");
    background-size: 100% ;
    background-position: center;
}

body{
    margin: auto;
    display: flex;
    flex-direction: column;
}

header .nav-content{
    width: 100%;
    display: flex;
    text-decoration: none;
    align-items: center;
    background: black;
}

header .headerdroite2{
    padding-left: 75%;
}

.navbar-brand{
    text-decoration: none;
}

#recherche{
    color: black ;
}

#content{
    flex: 1 ;
    background: url("../ressources/img/fond.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;
}

.title{
    height: 100px ;
    display: flex;
    align-items: center;

    font-size: 2em;
    color: white;
}

.neon{
    border: 2px solid lightskyblue;
    border-radius: 5px;
    background: cornflowerblue;
    color: white;
}

.présentation{
    float: left;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
    border: 2px solid lightskyblue;
    border-radius: 5px;
    background: cornflowerblue;
    color: white;
}

.pré-description{
    float: left;
    margin-left: 25% ;
    margin-right: 25% ;
    border: 2px solid lightskyblue;
    border-radius: 5px;
    background: cornflowerblue;
    color: white;
    padding : 1em;
}

.defile{
    border: 2px solid violet;
    border-radius: 5px;
    background-color: rgba(200,0,200,0.8);
    color: white;
}

.recette-jour img{
    float: left;
    margin: 3%;
    width: 10%;
    padding: 1em;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
}

.recette-jour img:hover {
    transform:scale(1.2);
}

#accueil{
    width: 50%;
    display: flex;
    padding-left: 25%;
    padding-right: 25%;
    flex-direction: column;
    align-content: center;
    overflow: auto;
}

.roulette{
    display: flex;
    float:left;
    margin-top: 5%;
    padding: 1em;
    border: 2px solid lightskyblue;
    border-radius: 5px;
    background: cornflowerblue;
    color: white;
}

.roulette img{
    float: left;
    width: 20%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
}

.roulette img:hover {
    transform:scale(1.2);
}


#preview-image {
    width: 100%;
    object-fit: contain;
}

.error{
    background: lightpink;
}

footer{
    height: 5%;
    position:absolute;
    bottom:0;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    overflow: hidden;
}



