@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

*{
    font-family: 'Comfortaa', cursive ;
    font-weight: bold;
    color: white;
}

html, body{
    height: 100% ;
    margin: 0px;
    background: url("../ressources/img/fond2.jpg");
    background-size: 100% ;
    background-position: center;
}

body{
    margin: auto;
    display: flex;
    flex-direction: column;
}

body img{
    width: 100%;
}

header .nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
}

header .recette{
    margin-left: 30px;
}

header .gauche{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header .droite{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
}

header .login{
    margin-top: 10px;
}

.form-control{
    color: black;
}

.navbar-brand{
    text-decoration: none;
}

.marge{
    overflow-x: hidden;
    overflow-y: scroll;
}

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredients{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em ;
    border: 2px solid #A00000;
    border-radius: 5px;
    background: #FF7575;
    color: white;
    margin-top: 1%;
    margin-bottom: 3%;
}

.ingredients input{
    display: flex;
    background-color: #A00000;
    color: white;
}

.ingredients img{
     width: 10em;
}

.origines{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em ;
    border: 2px solid #A00000;
    border-radius: 5px;
    background: #FF7575;
    color: white;
    margin-top: 1%;
    margin-bottom: 3%;
}

.origines input{
    display: flex;
    background-color: #A00000;
    color: white;
}

.origines img{
    width: 10em;
}

.tags{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em ;
    border: 2px solid #A00000;
    border-radius: 5px;
    background: #FF7575;
    color: white;
    margin-top: 1%;
    margin-bottom: 3%;
}

.tags input{
    display: flex;
    background-color: #A00000;
    color: white;
}

button{
    display: flex;
    flex-direction: column;
    align-content: center;
    overflow: auto;
    color: black;
}

button:disabled{
    color:white;
}

footer{
    height: 5%;
    position:absolute;
    bottom:0;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    overflow: hidden;
}
